.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .example {
    text-align: center;
    
  
   
  }
  .ant-message-notice
  {
   /* padding-left: 98px;*/
  }
  .btn {
    border: 1px solid #1890ff;
    color: #434f5a;
    background-color: white;
    padding: 0px 20px;
    /* border-radius: 8px; */
    font-size: 15px;
    /* font-weight: bold; */
}
.ant-table {
    font-size:12px;
}
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .ant-badge-count {
    margin-top: -2px;
    /* margin-left: 3px; */
    margin-right: -9px;
  }
  .ant-btn:not(:last-child) {
    margin-right: 2px;
}

.gx-card .ant-card-head-title {
  /* padding: 25px 0 0; */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.ant-card-head-title
{
  margin-top: 0px;
    padding-bottom: 17px;
}